$cream: #FAF7F0;
$light-blue: #CDFCF6;
$mid-blue: #BCCEF8;
$deep-blue: #98A8F8;


$primary-bg: $cream;
$primary-text: $deep-blue;
$secondary-bg: $mid-blue;
$secondary-text: $cream;

// clean these up for hype text, roll extra blues into system
$color-primary: #98A8F8;
$color-secondary: #69A1F0;
$color-tertiary: #BCCEF8;
$color-quaternary: #90BAF5;
$color-quinary: #CDFCF6;

$chipmunk: 12px;
$squirrel: 18px;
$dog: 24px;
$zebra: 40px;
$buffalo: 50px;
$whale: 100px;